@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap&text=0123456789);

@import 'reset';
@import 'variables';
@import 'foundation-sites/scss/foundation';

@include foundation-xy-grid-classes;

@font-face {
  font-family: Termina;
  src: url('../fonts/termina-medium.woff2') format('woff2'),
       url('../fonts/termina-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
}

.app {
  font-family: Montserrat;
  overflow-x: hidden;
}

.no-push-followers-pin-spacer {
  height: 0 !important;
  min-height: 0 !important;
}

.foreground {
  position: relative;
}

.light-neutral {
  background-color: $light-neutral;
}

.dark-neutral {
  background-color: $dark-neutral;
}